<!DOCTYPE html>
<html lang="en">
    <head>
       <%- include ('head.ejs') %>
    </head>
    <body>
        <%- include ('body.ejs') %>
    </body>
</html>

<!-- ejs 컴파일 오류는 문법 오류일 가능성 높다, 인터넷으로 최신문법을 확인하자-->