<nav>
    <ul>
        <li><a href='/'>HOME</a></li>
        <li><a href='/update'>UPDATE</a></li>
        <li><a href='/delete'>DELETE</a></li>
        <li><a href='/add'>ADD</a></li>
    </ul>    
</nav>