<nav>
    <li>
        <ul><a href='/'>HOME</a></ul>
        <ul><a href='/update'>UPDATE</a></ul>
        <ul><a href='/delete'>DELETE</a>    </ul>
        <ul><a href='/add'>ADD</a></ul>
    </li>    
</nav>