<h1><a href="/">HOME</a></h1>
<h1><%=title%></h1>

<form action='/update-process' method='post'>
    <h2 value='id' name='id'>KB국민 07560204222914</h2>
    <input name='money' type='text' placeholder="1000">
    <input type='submit' value='submit'>
</form>